.smash-64 {
  background-image: url(../images/logos/smash-64-logo.png);
}

.smash-melee {
  background-image: url(../images/logos/smash-melee.jpg);
}

.smash-brawl {
  background-image: url(../images/logos/smash-brawl-logo.png);
}

.smash-4 {
  background-image: url(../images/logos/smash-4-logo.png);
}

.smash-ultimate{
  background-image: url(../images/logos/smash-ultimate-logo.png);
}

.doctor-mario {
  background-image: url(../images/fighters/doctor-mario.png);
}

.mario {
  background-image: url(../images/fighters/mario.png);
}

.luigi {
  background-image: url(../images/fighters/luigi.png);
}

.bowser {
  background-image: url(../images/fighters/bowser.png);
}

.princess-peach {
  background-image: url(../images/fighters/princess-peach.png);
}

.yoshi {
  background-image: url(../images/fighters/yoshi.png);
}

.donkey-kong {
  background-image: url(../images/fighters/dk.png);
}

.captain-falcon {
  background-image: url(../images/fighters/captain-falcon.png);
}

.ganondorf {
  background-image: url(../images/fighters/ganondorf.png);
}

.falco {
  background-image: url(../images/fighters/falco.png);
}

.fox {
  background-image: url(../images/fighters/fox.png);
}

.ness {
  background-image: url(../images/fighters/ness.png);
}

.ice-climbers {
  background-image: url(../images/fighters/ice-climbers.png);
}

.kirby {
  background-image: url(../images/fighters/kirby.png);
}

.samus {
  background-image: url(../images/fighters/samus.png);
}

.zelda {
  background-image: url(../images/fighters/zelda.png);
}

.shiek {
  background-image: url(../images/fighters/shiek.png);
}

.link {
  background-image: url(../images/fighters/link.png);
}

.young-link {
  background-image: url(../images/fighters/young-link.png);
}

.pichu {
  background-image: url(../images/fighters/pichu.png);
}

.pikachu {
  background-image: url(../images/fighters/pikachu.png);
}

.jigglypuff {
  background-image: url(../images/fighters/jigglypuff.png);
}

.mewtwo {
  background-image: url(../images/fighters/mewtwo.png);
}

.mr-game-and-watch {
  background-image: url(../images/fighters/mr-game-and-watch.png);
}

.marth {
  background-image: url(../images/fighters/marth.png);
}

.roy {
  background-image: url(../images/fighters/roy.png);
}
